/*Styles for the personal website*/


/*the whole body*/
 body { padding: 0;
		margin: 0; }
			   
/*the navigation bar*/
 ul { list-style-type: block; 
	  position: absolute; 
	  top: 0px; 
	  right: 0px;
	  width: 100%;
	  overflow: hidden; 
	  z-index: 100; }
 
 ul li { display: inline; 
		 float:right; }


 ul li a{ display: block; 
		  color: #FFFFFF; 
		  text-decoration: none; 
		  text-align: center;
		  padding: 8px 9px;
		  top: 0px; 
		  font-family: 'Allan', Helvetica, Arial, sans-serif; 
		  font-size: 18px; }
		
 ul li a:hover { color: #938E94;} 

 
		
/*the cover page*/
 .home { background-image:url(../Images/cover.png); 
		 background-repeat: no-repeat; 
		 background-size: cover; 
		 background-attachment: fixed;
		 background-position: center;
		 position:absolute; 
		 width:100%; 
		 height:100%; 
		 overflow: hidden; }


		  

		  
/*about me page*/
 .about { background-color: #FAEBD7; 
			   position:relative;  
		       left: 0; 
			   top: 733px;
			   width: 100%; 
			   height: 733px;
		       overflow:hidden; }
			   
 .about.me.title { position: absolute;
				   top: 0px;
				   left: 610px;
				   width: 350px;
				   height: 180px; 
				   overflow:hidden; }
				  
 .picture { position: absolute;
			top: 155px;
			left: 640px;
			width: 300px;
			height: 220px; 
			line-height: 300px;
			overflow:hidden; }

 .left.side { position: absolute;
			  top: 170px;
			  left: 140px;
			  width: 500px;
			  height: 300px; 
			  overflow:hidden; }
			  
 .right.side { position: absolute;
			   top: 160px;
			   left: 940px;
			   width: 500px;
			   height: 300px; 
			   overflow:hidden; }

 .paragraph { position: absolute;  
		      left: 455px; 
			  top: 420px;
			  width: 700px; 
			  height: 230px; 
			  overflow:hidden;}
			  
 .interests { position: absolute;  
		      left: 470px; 
			  top: 580px;
			  width: 700px; 
			  height: 130px; 
			  overflow:hidden;}
			  
			  
			  

			
/*education & experience page*/
 .experience {  background-color: #938E94; 
				position:absolute; 
				left: 0; 
				top: 1466px;
				width: 100%; 
				height: 100%;  }	
				
 .educ.and.exp.title { position: absolute;
				       top: -40px;
				       left: 380px;
				       width: 800px;
				       height: 200px;
				       overflow:hidden; }

 .center.art { position: absolute;
			   top: 120px;
			   left: 780px;
			   width: 50px;
			   height: 600px;
			   overflow:hidden; }
			   
 .box1 { position: absolute;
		 top: 110px;
	     left: 847px;
   	     width: 380px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }

 .box2 { position: absolute;
		 top: 194px;
	     left: 478px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip2.png);
		 background-repeat: no-repeat; }	

 .box3 { position: absolute;
		 top: 285px;
	     left: 847px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }		   
 
 .box4 { position: absolute;
		 top: 367px;
	     left: 478px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip2.png);
		 background-repeat: no-repeat; }
		   
 .box5 { position: absolute;
		 top: 456px;
	     left: 847px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }
		   
 .box6 { position: absolute;
		 top: 544px;
	     left: 478px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip2.png);
		 background-repeat: no-repeat; }

 .box7 { position: absolute;
		 top: 630px;
	     left: 847px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }		    

 .text1 { position: absolute;
		  top: 125px;
	      left: 360px;
   	      width: 380px;
		  height: 70px;
		  overflow:hidden; 
		  }
		  
 .text2 { position: absolute;
		  top: 195px;
	      left: 860px;
   	      width: 380px;
		  height: 80px;
		  overflow:hidden; }
		  
 .text3 { position: absolute;
		  top: 295px;
	      left: 360px;
   	      width: 380px;
		  height: 65px;
		  overflow:hidden; }		

 .text4 { position: absolute;
		  top: 382px;
	      left: 860px;
   	      width: 400px;
		  height: 55px;
		  overflow:hidden; }	

 .text5 { position: absolute;
		  top: 469px;
	      left: 360px;
   	      width: 380px;
		  height: 55px;
		  overflow:hidden; }	

 .text6 { position: absolute;
		  top: 540px;
	      left: 860px;
   	      width: 560px;
		  height: 80px;
		  overflow:hidden; }			  
 
 .text7 { position: absolute;
		  top: 636px;
	      left: 46px;
   	      width: 680px;
		  height: 65px;
		  overflow:hidden; }	
}
		  
		   

		   

 .page4.main {  background-color: #666666; 
				position: absolute; 
				left: 0px; 
				top: 2199px;
				width: 100%; 
				height: 100%; 
}					 
		 
		 

		 
		 
/*skills page*/
 .skill {  background-color: #fafafa;
		   position:absolute;  
		   top: 2199px;
		   width: 100%; 
		   height: 100%;  
		   overflow:hidden; }
				
 .skill.title { position: absolute;
				top: -10px;
				left: 590px;
				width: 350px;
				height: 180px;
				overflow:hidden; }
				
 .percent1 { background-image: url(../Images/80.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 130px;
	         left:350px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent2 { background-image: url(../Images/90.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 130px;
	         left: 650px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent3 { background-image: url(../Images/15.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 130px;
	         left: 950px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent4 { background-image: url(../Images/50.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 425px;
	         left: 350px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent5 { background-image: url(../Images/85.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 425px;
	         left: 650px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }

 .percent6 { background-image: url(../Images/80.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 425px;
	         left: 950px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }	

 .skill1 { position: absolute;
		   top: 330px;
	       left: 343px;
   	       width: 250px;
		   height: 90px;
		   overflow:hidden; }

 .skill2 { position: absolute;
		   top: 330px;
	       left: 650px;
   	       width: 270px;
		   height: 90px;
		   overflow:hidden; }	
 
 .skill3 { position: absolute;
		   top: 330px;
	       left: 955px;
   	       width: 250px;
		   height: 90px;
		   overflow:hidden; }	

.skill4 {  position: absolute;
		   top: 625px;
	       left: 343px;
   	       width: 270px;
		   height: 100px;
		   overflow:hidden; }

 .skill5 { position: absolute;
		   top: 625px;
	       left: 650px;
   	       width: 270px;
		   height: 100px;
		   overflow:hidden; }	
 
 .skill6 { position: absolute;
		   top: 625px;
	       left: 955px;
   	       width: 250px;
		   height: 80px;
		   overflow:hidden; }			   

			 


				
				
/*abilities page*/
 .abilities { background-color: #f3dee5; 
			  position:absolute; 
			  left: 0; 
			  top: 2931px;
			  width: 100%; 
			  height: 100%;  
			  overflow:hidden; }	
				
 .abilities.title { position: absolute;
					top: 0px;
					left: 570px;
					width: 400px;
					height: 200px;
					overflow:hidden; }
					
 .ability1 { position: absolute;
			 top: 180px;
			 left: 300px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability2 { position: absolute;
			 top: 180px;
			 left: 625px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability3 { position: absolute;
			 top: 180px;
			 left: 950px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }

 .ability4 { position: absolute;
			 top: 320px;
			 left: 300px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability5 { position: absolute;
			 top: 320px;
			 left: 625px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability6 { position: absolute;
			 top: 320px;
			 left: 950px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
	
 .ability7 { position: absolute;
			 top: 460px;
			 left: 300px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability8 { position: absolute;
			 top: 460px;
			 left: 625px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability9 { position: absolute;
			 top: 460px;
			 left: 950px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }

				
				
				

/*message page*/
 .message { background-image:url(../Images/samp.jpg); 
			background-repeat: no-repeat; 
			background-size: cover; 
			background-attachment: fixed;
			background-position: center;
			position:absolute; 
			top: 3663px;
			width:100%; 
			height:100%; 
			overflow: hidden; }					
		 
