/*Styles for the personal website*/


/*the whole body*/
 body { padding: 0;
		margin: 0; }
			   
/*the navigation bar*/
 ul { list-style-type: block; 
	  position: absolute; 
	  top: 0px; 
	  right: 0px;
	  width: 100%;
	  overflow: hidden; 
	  z-index: 100; }
 
 ul li { display: inline; 
		 float:right; }


 ul li a{ display: block; 
		  color: #FFFFFF; 
		  text-decoration: none; 
		  text-align: center;
		  padding: 8px 9px;
		  top: 0px; 
		  font-family: 'Allan', Helvetica, Arial, sans-serif; 
		  font-size: 18px; }
		
 ul li a:hover { color: #938E94;} 

 
		
/*the cover page*/
 .home { background-image: url(../Images/background1.png);
		 background-repeat: no-repeat; 
		 background-size: cover; 
		 background-attachment: fixed;
		 background-position: center;
		 position:absolute; 
		 width:100%; 
		 height:100%; }
		 
 .name { position: absolute;
		 top: 250px;
		 left: 560px;
		 width: 400px;
		 height: 200px; 
		 overflow:hidden; }
		 
		 
	

	  
/*about me page*/
 .about { background-color: #FFFFFF; 
		  position:relative;  
		  left: 0; 
		  top: 733px;
		  width: 100%; 
		  height: 650px; }
		  
 .about.top { background-color: #F2A88F; 
			  position: absolute;  
			  left: 0px; 
		      top: 0px;
		      width: 100%; 
			  height: 200px; }
			   
 .about.me.title { position: absolute;
				   top: 0px;
				   left: 600px;
				   width: 350px;
				   height: 160px; }
				   
 .container { position: absolute;
			  top: 100px;
			  left: 630px;
			  width: 250px;
			  height: 250px; }
			
 .container .container-layer_bottom { display: block;}

 .container .container-layer_top { opacity: 0;
								   position: absolute;
							       top: 0;
								   left: 0;
								   width: 90%;
								   height: 90%;
								   background: rgba(0, 0, 0, 0.6);
								   color: #fff;
								   padding: 15px;
								   transition: all 0.4s ease-in-out 0s; 
								   border-radius: 50% }
 
 .container:hover .container-layer_top,
 .container.active .container-layer_top { opacity: 1; }
 
 .container .container-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Ruluko';
	font-size: 50px;
}

 .container2 { position: absolute;
			  top: 120px;
			  left: 200px;
			  width: 180px;
			  height: 180px; }
			
 .container2 .container2-layer_bottom { display: block;}

 .container2 .container2-layer_top { opacity: 0;
								   position: absolute;
							       top: 0;
								   left: 0;
								   width: 90%;
								   height: 90%;
								   background: rgba(0, 0, 0, 0.6);
								   color: #fff;
								   padding: 15px;
								   transition: all 0.4s ease-in-out 0s; 
								   border-radius: 50% }
 
 .container2:hover .container2-layer_top,
 .container2.active .container2-layer_top { opacity: 1; }
 
 .container2 .container2-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Ruluko';
	font-size: 30px;
}

 .container3 { position: absolute;
			  top: 120px;
			  left: 420px;
			  width: 180px;
			  height: 180px; }
			
 .container3 .container3-layer_bottom { display: block;}

 .container3 .container3-layer_top { opacity: 0;
								   position: absolute;
							       top: 0;
								   left: 0;
								   width: 90%;
								   height: 90%;
								   background: rgba(0, 0, 0, 0.6);
								   color: #fff;
								   padding: 15px;
								   transition: all 0.4s ease-in-out 0s; 
								   border-radius: 50% }
 
 .container3:hover .container3-layer_top,
 .container3.active .container3-layer_top { opacity: 1; }
 
 .container3 .container3-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Ruluko';
	font-size: 30px;
}

 .container4 { position: absolute;
			  top: 120px;
			  left: 920px;
			  width: 180px;
			  height: 180px; }
			
 .container4 .container4-layer_bottom { display: block;}

 .container4 .container4-layer_top { opacity: 0;
								   position: absolute;
							       top: 0;
								   left: 0;
								   width: 90%;
								   height: 90%;
								   background: rgba(0, 0, 0, 0.6);
								   color: #fff;
								   padding: 15px;
								   transition: all 0.4s ease-in-out 0s; 
								   border-radius: 50% }
 
 .container4:hover .container4-layer_top,
 .container4.active .container4-layer_top { opacity: 1; }
 
 .container4 .container4-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Ruluko';
	font-size: 30px;
}

.container5 { position: absolute;
			  top: 120px;
			  left: 1130px;
			  width: 180px;
			  height: 180px; }
			
 .container5 .container5-layer_bottom { display: block;}

 .container5 .container5-layer_top { opacity: 0;
								   position: absolute;
							       top: 0;
								   left: 0;
								   width: 90%;
								   height: 90%;
								   background: rgba(0, 0, 0, 0.6);
								   color: #fff;
								   padding: 15px;
								   transition: all 0.4s ease-in-out 0s; 
								   border-radius: 50% }
 
 .container5:hover .container5-layer_top,
 .container5.active .container5-layer_top { opacity: 1; }
 
 .container5 .container5-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Ruluko';
	font-size: 30px;
}

 .left.side { position: absolute;
			  top: 350px;
			  left: -130px;
			  width: 500px;
			  height: 300px; 
			  overflow:hidden; }
			  
 .right.side { position: absolute;
			   top: 345px;
			   left: 400px;
			   width: 500px;
			   height: 300px; 
			   overflow:hidden; }

 .paragraph { position: absolute;   
			  top: 330px;
			  left: 900px;
			  width: 500px; 
			  height: 500px; 
			  overflow:hidden;}
			  
 .about.line { position: absolute;   
			   top: 600px;
			   left: 761.5px;
			   width: 5px; 
			   height: 60px; 
			   overflow:hidden; }

			  
			  
			  
			
/*education & experience page*/
 .experience {  background-color: #938E94; 
				position:absolute; 
				left: 0; 
				top: 1383px;
				width: 100%; 
				height: 750px;  }	
				
 .experience.line { position: absolute;   
					top: 0px;
					left: 761.5px;
					width: 5px; 
					height: 45px; 
					overflow: hidden; }
				
 .educ.and.exp.title { position: absolute;
				       top: -40px;
				       left: 340px;
				       width: 800px;
				       height: 200px;
				       overflow:hidden; }

 .center.art { position: absolute;
			   top: 120px;
			   left: 740px;
			   width: 50px;
			   height: 600px;
			   overflow:hidden; }
			   
 .box1 { position: absolute;
		 top: 110px;
	     left: 810px;
   	     width: 380px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }

 .box2 { position: absolute;
		 top: 194px;
	     left: 435px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip2.png);
		 background-repeat: no-repeat; }	

 .box3 { position: absolute;
		 top: 285px;
	     left: 810px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }		   
 
 .box4 { position: absolute;
		 top: 367px;
	     left: 435px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip2.png);
		 background-repeat: no-repeat; }
		   
 .box5 { position: absolute;
		 top: 456px;
	     left: 810px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }
		   
 .box6 { position: absolute;
		 top: 544px;
	     left: 435px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip2.png);
		 background-repeat: no-repeat; }

 .box7 { position: absolute;
		 top: 630px;
	     left: 810px;
   	     width: 400px;
		 height: 90px;
		 overflow:hidden; 
		 background-image: url(../Images/descrip.png);
		 background-repeat: no-repeat; }		    

 .text1 { position: absolute;
		  top: 125px;
	      left: 330px;
   	      width: 380px;
		  height: 70px;
		  overflow:hidden; }
		  
 .text2 { position: absolute;
		  top: 195px;
	      left: 825px;
   	      width: 380px;
		  height: 80px;
		  overflow:hidden; }
		  
 .text3 { position: absolute;
		  top: 295px;
	      left: 334px;
   	      width: 380px;
		  height: 65px;
		  overflow:hidden; }		

 .text4 { position: absolute;
		  top: 382px;
	      left: 825px;
   	      width: 400px;
		  height: 55px;
		  overflow:hidden; }	

 .text5 { position: absolute;
		  top: 469px;
	      left: 334px;
   	      width: 380px;
		  height: 55px;
		  overflow:hidden; }	

 .text6 { position: absolute;
		  top: 540px;
	      left: 825px;
   	      width: 560px;
		  height: 80px;
		  overflow:hidden; }			  
 
 .text7 { position: absolute;
		  top: 636px;
	      left: 20px;
   	      width: 680px;
		  height: 65px;
		  overflow:hidden; }	

 .experience.line2 { position: absolute;   
					 top: 700px;
					 left: 763px;
					 width: 5px; 
					 height: 60px; 
					 overflow:hidden; }			 
		 
		 

		 
		 
/*skills page*/
 .skill {  background-color: #fafafa;
		   position:absolute;  
		   top: 2133px;
		   width: 100%; 
		   height: 750px;  
		   overflow: hidden;}			
				
 .skill.title { position: absolute;
				top: -10px;
				left: 585px;
				width: 350px;
				height: 190px;
				overflow: hidden; }
				
 .percent1 { background-image: url(../Images/80.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 125px;
	         left:340px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent2 { background-image: url(../Images/90.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 125px;
	         left: 640px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent3 { background-image: url(../Images/15.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 125px;
	         left: 940px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent4 { background-image: url(../Images/50.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 420px;
	         left: 340px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }
			 
 .percent5 { background-image: url(../Images/85.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 420px;
	         left: 640px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }

 .percent6 { background-image: url(../Images/80.png);
			 background-repeat: no-repeat;
			 position: absolute;
		     top: 420px;
	         left: 940px;
   	         width: 250px;
		     height: 200px;
		     overflow:hidden; }	

 .skill1 { position: absolute;
		   top: 325px;
	       left: 333px;
   	       width: 250px;
		   height: 90px;
		   overflow:hidden; }

 .skill2 { position: absolute;
		   top: 325px;
	       left: 640px;
   	       width: 270px;
		   height: 90px;
		   overflow:hidden; }	
 
 .skill3 { position: absolute;
		   top: 325px;
	       left: 945px;
   	       width: 250px;
		   height: 90px;
		   overflow:hidden; }	

.skill4 {  position: absolute;
		   top: 620px;
	       left: 333px;
   	       width: 270px;
		   height: 100px;
		   overflow:hidden; }

 .skill5 { position: absolute;
		   top: 620px;
	       left: 640px;
   	       width: 270px;
		   height: 100px;
		   overflow:hidden; }	
 
 .skill6 { position: absolute;
		   top: 620px;
	       left: 945px;
   	       width: 250px;
		   height: 80px;
		   overflow:hidden; }			   

 .skill.line { position: absolute;   
			   top: 705px;
			   left: 763px;
			   width: 5px; 
			   height: 50px; 
			   overflow:hidden; }	
			 


				
				
/*abilities page*/
 .abilities { background-color: #f3dee5; 
			  position:absolute; 
			  left: 0; 
			  top: 2883px;
			  width: 100%; 
			  height: 650px;  
			  overflow:hidden; }			  
				
 .abilities.title { position: absolute;
					top: 0px;
					left: 565px;
					width: 400px;
					height: 200px;
					overflow: hidden; }
					
 .ability1 { position: absolute;
			 top: 170px;
			 left: 300px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability1.text { position: absolute;
				  top: 170px;
				  left: 300px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }
			 
 .ability2 { position: absolute;
			 top: 170px;
			 left: 625px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability2.text { position: absolute;
				  top: 170px;
				  left: 625px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }
			 
 .ability3 { position: absolute;
			 top: 170px;
			 left: 950px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability3.text { position: absolute;
				  top: 170px;
				  left: 950px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }

 .ability4 { position: absolute;
			 top: 310px;
			 left: 300px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability4.text { position: absolute;
				  top: 310px;
				  left: 300px;
				  width: 300px;
				  height: 120px;
			      overflow:hidden; }
			 
 .ability5 { position: absolute;
			 top: 310px;
			 left: 625px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability5.text { position: absolute;
				  top: 310px;
				  left: 625px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }
			 
 .ability6 { position: absolute;
			 top: 310px;
			 left: 950px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability6.text { position: absolute;
				  top: 310px;
				  left: 950px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }
	
 .ability7 { position: absolute;
			 top: 450px;
			 left: 300px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability7.text { position: absolute;
				  top: 450px;
				  left: 300px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }
			 
 .ability8 { position: absolute;
			 top: 450px;
			 left: 625px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }
			 
 .ability8.text { position: absolute;
				  top: 450px;
				  left: 625px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }
			 
 .ability9 { position: absolute;
			 top: 450px;
			 left: 950px;
			 width: 300px;
			 height: 120px;
			 overflow:hidden; }

 .ability9.text { position: absolute;
				  top: 450px;
				  left: 950px;
				  width: 300px;
				  height: 120px;
				  overflow:hidden; }
				  
 .ability.line { position: absolute;   
				 top: 590px;
				 left: 763px;
				 width: 5px; 
				 height: 60px; 
				 overflow:hidden; }	
				
				
				
/*message page*/
 .message { background-image:url(../Images/contact.jpg); 
			background-repeat: no-repeat; 
			background-size: cover; 
			background-attachment: fixed;
			background-position: center;
			position:absolute; 
			top: 3533px;
			width:100%; 
			height:100%; 
			overflow: hidden; }					
		 
