/*Styles for the personal website*/


/*the whole body*/
 body { padding: 0;
		margin: 0; }
			   
/*the navigation bar*/
 ul { list-style-type: block; 
	  position: fixed; 
	  top: 0px; 
	  right: 0;
	  width: 100%;
	  overflow: hidden; 
	  z-index: 100;}
 
 ul li { display: inline; 
		 float:right; }


 ul li a{ display: block; 
		  color: #FFFFFF; 
		  text-decoration: none; 
		  text-align: center;
		  padding: 8px 9px;
		  top: 0px; 
		  font-family: 'Allan', Helvetica, Arial, sans-serif; 
		  font-size: 18px; }
		
 ul li a:hover { color: #666666;} 

 
		
/*the cover page*/
 .page1 { background-image:url(../Images/cover.jpg); 
		  background-repeat: no-repeat; 
		  background-size: cover; 
		  background-attachment: fixed;
		  background-position: center;
		  position:absolute; 
		  width:100%; 
		  height:100%; 
		  overflow: hidden; }


		  

		  
/*about me page*/
 .page2.main { background-color: #FAEBD7; 
			   position:relative;  
		       left: 0; 
			   top: 733px;
			   width: 100%; 
			   height: 733px;
		       overflow:hidden; }
			   
 .about.me.title { position: absolute;
				   top: 0px;
				   left: 630px;
				   width: 350px;
				   height: 180px;
				   background-color: #none; 
				   overflow:hidden; }
				  
 .picture { position: absolute;
			top: 170px;
			left: 700px;
			width: 200px;
			height: 220px; 
			line-height: 300px;
			overflow:hidden; }

 .left.side { position: absolute;
			  top: 170px;
			  left: 140px;
			  width: 500px;
			  height: 300px; 
			  overflow:hidden; }
			  
 .right.side { position: absolute;
			   top: 170px;
			   left: 940px;
			   width: 500px;
			   height: 300px; 
			   overflow:hidden; }

 .paragraph { background-color: #FFFFFF; 
			  position: absolute;  
		      left: 470px; 
			  top: 440px;
			  width: 700px; 
			  height: 130px; 
			  overflow:hidden;}
			  
 .interests { position: absolute;  
		      left: 470px; 
			  top: 580px;
			  width: 700px; 
			  height: 130px; 
			  overflow:hidden;}
			  
			  
			  

			
/*education & experience page*/
 .page3.main {  background-image:url(../Images/educCover.jpg); 
				background-repeat: no-repeat; 
				background-size: cover; 
				background-attachment: fixed;
				background-position: center;
				position:absolute;  
				width: 100%; 
				height: 100%; 
				top: 1466px; 
				overflow:hidden; }	
				
 .educ.and.exp.title { position: absolute;
				       top: -20px;
				       left: 400px;
				       width: 800px;
				       height: 200px;
				       background-color: #none; 
				       overflow:hidden; }


/*skills page*/
 .page4.main { background-color: #E27D60; 
				position:absolute; 
				left: 0; 
				top: 2199px;
				width: 100%; 
				height: 100%;  
				overflow:hidden; }					 
		 

/*abilities page*/
 .page5.main { background-image:url(../Images/desktop_cloud7_DLF.jpg); 
				background-repeat: no-repeat; 
				background-size: cover; 
				background-attachment: fixed;
				background-position: center;
				position:absolute;  
				top: 2931px;
				width: 100%; 
				height: 100%;  
				overflow:hidden; }


/*message me page*/
 .page6.main { background-color: gray; 
				position:absolute; 
				left: 0; 
				top: 3663px;
				width: 100%; 
				height: 100%;  
				overflow:hidden; }				
		 
		 